.breadcrumb {
  padding: 0.1em 0em 0.1em;
  margin: 0px auto 1em;
  ul {
    @include li-reset;
    li {
      display: inline-block;
      margin: 0px 0.1em 0.1em 0px;
      color: #000;
      //   font-weight: bold;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: '';
        display: inline-block;
        color: #333;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    @include aSetting_nocolor;
    color: #555;
  }
}
